<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viite-app</title>
<style>
    ul {
        list-style-type: None;
        margin: 0;
        padding:0;
    }
    .form-rivi{
        display:flex;
        margin-bottom: 10px;
        align-items: center;
    }
    .form-rivi label{
        width: 150px;
    }
    .form.rivi input{
        flex-grow: 1;
        padding: 5px;
    }
</style>
</head>
<body>
    <ul>
        <li><a href="">Etusivu</a></li>
        <li><a href="/lisaaViite">Lisää viite</a></li>
    </ul>
    <form name="lisaaviite" action="/submit" method="POST">
        <dic class="form-rivi">
            <label for="author"> Author:</label>
            <input type="text" name="author">
        </dic>
        <dic class="form-rivi">
            <label for="title"> Title:</label>
            <input type="text" name="title">
        </dic>
        <dic class="form-rivi">
            <label for="year"> Year:</label>
            <input type="text" name="year">
        </dic>
        <dic class="form-rivi">
            <label for="booktitle"> BookTitle:</label>
            <input type="text" name="booktitle">
        </dic>
        <input type="submit" value="ei toimi vielä">
    </form>
</body>
</html>