
.form-rivi{
    display:flex;
    margin-bottom: 10px;
    align-items: center;
}
.form-rivi label{
    width: 150px;
}
.form.rivi input{
    flex-grow: 1;
    padding: 5px;
}

body {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  text-wrap: wrap;
  justify-content: space-around;
  padding-top: 2%;
}

.tulostus {
  width: 50%;
  border: solid;
  float: right;
  background-color: white;
}

.ref-apa {
  font-size: 12pt;
  padding-left: 2em;
  text-indent: -2em;
  list-style-type: none;
}

.tuloste {
  list-style-type: none;
}

/*poistonappi*/
form > input[name^="id"] {
  background: lightcoral;
}

div {
  max-width: 45%;
}

h1 {
  background-color: lightblue;
  padding: 15px; 
  margin: 0;
  border: solid;
}

h3 {
  background-color: aliceblue;
  border: solid;
  padding-left: 2%;
}