
.form-rivi{
    display:flex;
    margin-bottom: 10px;
    align-items: center;
}
.form-rivi label{
    width: 150px;
}
.form.rivi input{
    flex-grow: 1;
    padding: 5px;
}

body {
  display: flex;
  flex-direction: row;
}

.tulostus {
  width: 35%;
  border: solid;
  float: right;
  margin-left: 10%;
}